<h1>Editing Task</h1>
<<<<<<< HEAD
<%= render 'form', task: @task %>
<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
=======

<%= render 'form', task: @task %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
>>>>>>> 0092248665927e8253602191d6718d14e42f6bc0
