<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @task.names %>
</p>

<p>
  <strong>Email:</strong>
  <%= @task.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>Beginning date:</strong>
  <%= @task.beginning_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Ending date:</strong>
  <%= @task.ending_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
