<p id="notice"><%= notice %></p>
<b><%= t('view.sample') %></b>
<br><br>
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Beginning date:</strong>
  <%= @task.beginning_date %>
</p>

<p>
  <strong>Ending date:</strong>
  <%= @task.ending_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
